<p>la page fonctionne</p>
<!-- <div class="container">
    <h2>Créer une nouvelle campagne</h2>
    <form (ngSubmit)="onSubmit()" #campaignForm="ngForm">
      <div class="form-group">
        <label for="nom">Nom de la campagne :</label>
        <input type="text" id="nom" [(ngModel)]="newCampaign.nom" name="nom" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="description">Description :</label>
        <textarea id="description" [(ngModel)]="newCampaign.description" name="description" class="form-control" required></textarea>
      </div>
  
      <div class="form-group">
        <label for="univers">Univers :</label>
        <select id="univers" [(ngModel)]="newCampaign.univers" name="univers" class="form-control" required>
          <option value="Cyberpunk">Cyberpunk</option>
          <option value="Médiéval Fantastique">Médiéval Fantastique</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="contexte">Contexte :</label>
        <input type="text" id="contexte" [(ngModel)]="newCampaign.contexte" name="contexte" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="etat_avancement">État d'avancement :</label>
        <select id="etat_avancement" [(ngModel)]="newCampaign.etat_avancement" name="etat_avancement" class="form-control" required>
          <option value="en cours">En cours</option>
          <option value="terminée">Terminée</option>
          <option value="brouillon">Brouillon</option>
        </select>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!campaignForm.form.valid">Créer la campagne</button>
    </form>
  </div>
   -->