<app-campaign-form></app-campaign-form>
<h1>Fill all the fields to create a new campaign!</h1>
<div class="container">

    <form>
      <label for="name">Campaign Name:</label>
      <input type="text" id="name" name="name" required>
      
      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>
      
      <label for="universe">Universe:</label>
      <select id="universe" name="universe" required>
        <option value="Cyberpunk">Cyberpunk</option>
        <option value="Medieval Fantasy">Medieval Fantasy</option>
        <option value="Post-apocalyptic">Post-apocalyptic</option>
        <option value="Sci-Fi">Sci-Fi</option>
      </select>
      
      <label for="context">Context:</label>
      <input type="text" id="context" name="context" required>
      
      <label for="progress_status">Progress Status:</label>
      <select id="progress_status" name="progress_status" required>
        <option value="ongoing">Ongoing</option>
        <option value="completed">Completed</option>
        <option value="draft">Draft</option>
      </select>
      
      <button type="submit">Create Campaign</button>
    </form>
</div>

