.navbar {

    color: white;
    padding: 10px 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
  }

  .nav-links li a:hover {
    border-top: 2px solid #FFCC00; /* Ajoute une bordure au-dessus du lien au survol */
    padding-top: 5px; /* Ajoute un peu d'espace entre le texte et la bordure */
  
  }
  
  .nav-links li a.active {
    text-decoration: underline;
  }
  