
.campaign-card {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    gap: 20px;
} 

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFCC00;
    border-radius: 10px;
}

p {
    color: #584F2E;
    margin: 0;
    padding: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#deletebtn {
    all: unset;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ECF0F1; /* Couleur de fond */
    color: red; /* Couleur du texte */
    font-size: 16px;
    border-radius: 5px;
    border: none;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  #updatebtn {
    all: unset;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #E27F83; /* Couleur de fond */
    color: white; /* Couleur du texte */
    font-size: 16px;
    border-radius: 5px;
    border: none;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  .filters {
    display: flex;
    justify-content: center;
    color: #FFCC00;
    gap: 10px;
  }