
<div>
  <h2>Filter Campaigns by progress status or universe</h2>
    <div class="filters">
        <!-- Sélecteur pour filtrer par statut -->
        <label for="statusFilter">Progress Status:</label>
        <select id="statusFilter" [(ngModel)]="selectedStatus">
          <option value="">all</option>
          <option value="ongoing">ongoing</option>
          <option value="completed">completed</option>
          <option value="in progress">draft</option>
        </select>
      
      <label for="universeFilter">Universe:</label>
      <select id="universeFilter" [(ngModel)]="selectedUniverse">
        <option value="">all</option>
        <option value="Cyberpunk">Cyberpunk</option>
        <option value="Gothic Horror">Gothic Horror</option>
        <option value="Med-Fan">Med-Fan</option>
        <option value="Post-Apocalyptic">Post-Apocalyptic</option>
        <option value="Steampunk">Steampunk</option>
      </select>
      <button (click)="resetFilters()">Reset the filters</button>
      </div>
    
  


<div class="campaign-card">
  
  <div class= "card" *ngFor="let campaign of getCombinedFilters()">
        <h2>{{ campaign.name }}</h2>
        <p><strong>Description:</strong> {{ campaign.description }}</p>
        <p><strong>Universe:</strong> {{ campaign.universe }}</p>
        <p><strong>Context:</strong> {{ campaign.context }}</p>
        <p><strong>Status:</strong> {{ campaign.progress_status | uppercase }}</p>
          
        <h3>Player Characters:</h3>
        <ul>
          <li *ngFor="let player of campaign.player_characters">
            <p><strong>{{ player.name }}</strong> ({{ player.class }}) - Level: {{ player.level }}</p>
          </li>
        </ul>
        <div class="buttons">
          <button id="updatebtn" (click)="editCampaign(campaign.id)">Update</button>
          <button id="deletebtn" (click)="deleteCampaign(campaign.id)">Delete</button>
        </div>

  </div>
    
</div>
</div>
